%li.highlight[assigned]
  - unless assigned.category.blank?
    .strip{:class => assigned.category}= t(assigned.category)
  - else
    .strip.white #{t :other}

  .tools
    = link_to_task_edit(assigned, bucket) + " | "
    = link_to_discard(assigned) + " | " if shown_on_landing_page?
    = link_to_task_delete(assigned, bucket)

  .indent
    = link_to(assigned.assignee.full_name, user_path(assigned.assignee)) + ": "
    = auto_link h(assigned.name)
    - if assigned.asset_id?
      == #{t :related} #{link_to(h(assigned.asset.name), polymorphic_url(assigned.asset))}
    &ndash;
    %tt
      - if assigned.bucket == "due_asap"
        %span.urgent
          %i.fa{class: "fa-warning"} #{t :task_due_now}.

      - elsif assigned.bucket == "due_later"
        = t(:task_due_later)

      - else
        - if assigned.at_specific_time?
          - if assigned.due_at < Time.now
            %span.warn #{t :overdue} #{assigned.due_at.to_date}
          - else
            = t(:task_due_in, assigned.due_at.to_date)

        - else
          - if assigned.due_at.to_date < Date.today
            %span.warn #{t :overdue} #{assigned.due_at.to_date}
          - elsif assigned.due_at.to_date > Date.today
            = t(:task_due_in, assigned.due_at.to_date)
          - else
            %span.cool= t(:task_due_today)

    - unless assigned.background_info.blank?
      %div
        %dt= h(assigned.background_info)
