
= styles_for :task

- if @view == "completed"
  - buckets = Setting.unroll(:task_completed)
  .title
    = t(:completed_tasks)
    = image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")
- else
  - buckets = Setting.unroll(:task_bucket)
  .title_tools
    = link_to_inline(:create_task, url_for(:action => :new, :view => @view), :text => t(:create_task))
  .title#title
    = @user.name + " 的" + (@view == "assigned" ? t(:assigned_tasks) : t(:tasks))
    = image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")

  .remote#options{ hidden }
  .remote#create_task{ hidden }

.log#tasks
  - buckets.each do |value, key|
    %div{ hidden_if(filtered_out?(@view, key)), :id => "list_#{key}" }
      %h3{:class => key}= t(value)
      .bucket{:id => key}= render :partial => @view, :collection => @tasks[key] || [], :locals => { :bucket => key,:pre_page => 'my_index' }

#export= render "shared/export"
