%li.highlight[opportunity]
  - if opportunity.stage
    .strip{:class => opportunity.stage}= t(opportunity.stage)
  - else
    .strip.white #{t :other}

  .indent
    = link_to_if can?(:read, opportunity), opportunity.name, opportunity
    %tt
      &ndash;
      - user_name = opportunity.user.try(:full_name)
      - if user_name
        = t(:added_by, :time_ago => timeago(opportunity.created_at), :user => h(user_name)).html_safe
      - else
        = t(:added_ago, :value => timeago(opportunity.created_at)).html_safe

    = hook(:opportunity_bottom, self, :opportunity => opportunity)
