= styles_for :opportunity

= render 'entities/title_bar'

%table.report_big_number
  %tr
    %td
      总商机额
      .number
        =Opportunity.assigned_to(current_user).not_lost.amount_sum.to_i
    %td
      进行中的商机额
      .number
        =Opportunity.assigned_to(current_user).pipeline.amount_sum.to_i
    %td
      总成单额
      .number
        =Opportunity.assigned_to(current_user).won.amount_sum.to_i
    %td
      本月成单额
      .number
        =Opportunity.assigned_to(current_user).won.where(closes_on: (Time.current.beginning_of_month..Time.current.end_of_month)).amount_sum.to_i

.remote#create_opportunity{ hidden }

= render 'search'

.remote#options{ hidden }

.list#opportunities
  - if @opportunities.any?
    = render @opportunities
  - else
    = render "shared/empty"

#paginate= render "shared/paginate_with_per_page"
#export= render "shared/export"

= hook(:opportunity_index_after, self)
