= styles_for :account
= styles_for :opportunity

= render 'entities/title_bar'

.remote#create_account{ hidden }

- if @requared_tasks_count > 0
  %div.requared_tasks_no_task_shown
    %i.fa{class: "fa-warning"}
    有#{@requared_tasks_count}名客户没有任务
    = link_to '点击查看', tasks_required_accounts_path

= render 'search'

.remote#options{ hidden }

.list#accounts
  - if @accounts.any?
    = render @accounts
  - else
    = render "shared/empty"

#paginate= render "shared/paginate_with_per_page"
#export= render "shared/export"
